@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your Custom CSS Here */

.App {
    @apply flex flex-wrap content-center h-screen;
    background: linear-gradient(
                    rgba(0, 0, 0, 0.7), 
                    rgba(0, 0, 0, 0.7)
                ),
                url('https://source.unsplash.com/daily?nature,water,mountain,lake');
    background-size: cover;
    min-height: 100vh;
    
}

.MenuItem {
    @apply py-3 px-0 block border-b-2 border-transparent;
}

.container {
    @apply ml-auto mr-auto text-center;
}

.btn-start {
    @apply flex-shrink-0 text-lg py-1 px-2 rounded mr-2 mb-3 border;
    background: none;
}

