<!DOCTYPE html>
<html>

<head>
    <title>Nama Surah | Tadarus</title>
    <script src="/js/vue.js"></script>
    <script src="/js/axios.min.js"></script>
    <link href="/css/tailwind.min.css" rel="stylesheet">
    <style>
        @font-face {
            font-family: 'LPMQ_IsepMisbah';
            src: url('/fonts/LPMQIsepMisbah.eot'); /* IE9 Compat Modes */
            src: url('/fonts/LPMQIsepMisbah.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
                url('/fonts/LPMQIsepMisbah.ttf')  format('truetype'), /* Safari, Android, iOS */
                url('/fonts/LPMQIsepMisbah.woff') format('woff'), /* Modern Browsers */
                url('/fonts/LPMQIsepMisbah.svg#svgFontName') format('svg'); /* Legacy iOS */
        }
        .arabic {
            font-family: "LPMQ_IsepMisbah";
        }
    </style>
</head>

<body>

    <div id="app">
        <header class="w-full text-gray-700 bg-white dark-mode:text-gray-200 dark-mode:bg-gray-800 fixed top-0 left-0">
            <div
                class="flex flex-col max-w-screen-xl px-4 mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-8">
                <div class="p-4 flex flex-row items-center justify-between"><a href="/" class="nuxt-link-active"><a
                            href="/"
                            class="text-lg font-semibold tracking-widest text-gray-900 uppercase rounded-lg dark-mode:text-white">Urusan Al Qur'an</a></a>
                    <button class="md:hidden rounded-lg focus:outline-none focus:shadow-outline"><svg
                            fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6">
                            <path fill-rule="evenodd"
                                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z"
                                clip-rule="evenodd" class="flex"></path>
                            <path fill-rule="evenodd"
                                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                clip-rule="evenodd" class="hidden"></path>
                        </svg></button></div>
                <nav class="flex-col flex-grow pb-4 md:pb-0 md:justify-end md:flex-row md:flex hidden"><a
                        href="/tentang"
                        class="nav_text md:mt-0 md:ml-4 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline">
                        Tentang
                    </a> <a href="/kontributor"
                        class="nav_text md:mt-0 md:ml-4 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline">
                        Kontributor
                    </a></nav>
            </div>
        </header>
        <div v-if="Object.keys(surah_data).length === 0 && surah_data.constructor === Object">
            <p>Loading Data</p>
        </div>
        <div v-else class="px-4 md:px-6 lg:px-8 mx-10 lg:mx-40 my-10 mt-24">
            <h1 class="text-2xl font-bold">
                {{ surah_data.name_latin }} - {{ surah_data.translations.id.name }}
            </h1>
            <p>Tafsir <strong>{{ surah_data.tafsir.id.kemenag.name }}</strong>. Diambil dari <strong>{{ surah_data.tafsir.id.kemenag.name }}</strong></p>

            <ol class="mt-5">
                <li v-for="number in parseInt(surah_data.number_of_ayah)" class="pb-5">
                    <h2 v-if="String(number) in topics_index" class="font-semibold italic text-sm">{{topics_index[number]}}</h2>
                    <p class="text-lg mb-1">{{number}}. {{ surah_data.translations.id.text[number] }}</p>
                    <details class="ml-3">
                    <summary>Lihat tafsir</summary>
                    <p style="white-space: pre-wrap;"><em>tafsir:</em> {{ surah_data.tafsir.id.kemenag.text[number] }} </p>
                    <hr class="my-2">
                    </details>
                </li>
            </ol>

            <!-- Surah Container -->
            <!-- End of Surah Container -->
            <a v-if="surah_data.number != 1" v-bind:href="'/tadarus/surah.html?surah=' + (parseInt(surah_data.number) - 1)" class="underline"><< Surat Sebelumnya</a>
            <span v-if="surah_data.number != 1 && surah_data.number != 114"> | </span>
            <a v-if="surah_data.number != 114" v-bind:href="'/tadarus/surah.html?surah=' + (parseInt(surah_data.number) + 1)" class="underline">Surat Selanjutnya >> </a>
        </div>

    </div>

    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const surah_number = urlParams.get('surah') || 1;

        var surah_url =
            `/data/surah/${surah_number}.json`

        var QuranApp = new Vue({
            el: '#app',
            data: {
                surah_data: {},
                topics_index: {}
            },
            mounted() {
                axios
                    .get(surah_url)
                    .then(response => {
                        this.surah_data = response.data.data

                        topics_index = {}
                        topics = response.data.data.topics
                        for (const index in topics ) {
                            from_ayah = topics[index].from
                            text_ayah = topics[index].topic
                            topics_index[from_ayah] = text_ayah
                        }
                        this.topics_index = topics_index
                    }
                )
                
            },
        })
    </script>

</body>

</html>